In [1]:
import pandas as pd
import numpy as np

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
3,R298788GS6I901,5,0,0,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
5,R3BPETL222LMIM,5,0,0,N,Y
6,R3SORMPJZO3F2J,3,2,2,N,Y
7,R2RDOJQ0WBZCF6,5,0,0,N,Y
8,R2B8VBEPB4YEZ7,5,0,0,N,Y
9,R1CB783I7B0U52,1,0,1,N,Y
10,R2D90RQQ3V8LH,5,0,0,N,Y
11,R1Y4ZOUGFMJ327,5,0,0,N,Y
12,R2BUV9QJI2A00X,5,0,1,N,Y
13,RSUHRJFJIRB3Z,4,0,0,N,Y
14,R1T96CG98BBA15,3,2,4,N,Y
15,R2ATXF4QQ30YW,5,0,0,N,Y
16,R1YS3DS218NNMD,5,4,4,N,N
17,R2SDXLTLF92O0H,5,0,0,N,Y
18,R4R337CCDWLNG,3,0,1,Y,N
19,R32Z6UA4S5Q630,1,0,0,N,Y
20,R1H1HOVB44808I,5,1,1,N,N
21,R4UVQIRZ5T1FM,4,1,2,N,Y
22,R226K8IJLRPTIR,5,0,1,N,Y
23,R3031Q42BKAN7J,4,1,1,N,N
24,R44NP0QG6E98W,3,1,1,N,Y
25,R24VKWVWUMV3M3,5,0,0,N,Y
26,R2MW3TEBPWKENS,5,0,0,N,Y
27,R3N01IESYEYW01,5,0,1,N,Y
28,RKLAK7EPEG5S6,5,1,2,N,Y
29,R1HOJ5GOA2JWM0,2,1,1,N,Y
30,RO5VL1EAPX6O3,1,0,0,N,Y
31,R3OSJU70OIBWVE,5,0,0,N,Y
32,R3NFZZCJSROBT4,3,0,0,N,Y
33,R47XBGQFP039N,5,0,0,N,Y
34,R1JS8G26X4RM2G,5,0,1,N,Y
35,R1ORWPFQ9EDYA0,5,0,0,N,Y
36,R1YIX4SO32U0GT,5,0,1,N,Y
37,R1W3QQZ8JKECCI,5,0,0,N,Y
38,RZX17JIYIPAR,5,0,0,N,N
39,RIDVQ4P3WJR42,5,1,1,N,Y
40,R1WQ3ME3JAG2O1,1,0,6,N,Y
41,RNTPOUDQIICBF,4,0,0,N,Y
42,R3AHZWWOL0IAV0,5,0,0,N,Y
43,R3PDXKS9O2Z20B,5,0,0,N,N
44,R23URALWA7IHWL,5,0,0,N,Y
45,R36L8VKT9ZSUY6,5,0,0,N,Y
46,R23JRQR6VMY4TV,5,0,0,N,Y
47,R3T73PQZZ9F6GT,5,0,0,N,Y
48,R300I65NW30Y19,5,0,0,N,Y

In [3]:
vine_df = vine_df.loc[(vine_df['total_votes'])]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
1,R36ED1U38IELG8,5,0,0,N,Y
6,R3SORMPJZO3F2J,3,2,2,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y
0,RDIJS7QYB6XNR,5,0,0,N,Y

In [4]:
vine_df = vine_df[(vine_df['helpful_votes']) / (vine_df['total_votes']) >= 0.5]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1UE3RPRGCOLD,2,1,1,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
6,R3SORMPJZO3F2J,3,2,2,N,Y

In [10]:
vine_df = vine_df[(vine_df['vine'] == 'Y')]
vine_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [6]:
vine_df = vine_df[(vine_df['vine'] == "N")]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1UE3RPRGCOLD,2,1,1,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
4,RNX4EXOBBPN5,1,1,1,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
2,R1UE3RPRGCOLD,2,1,1,N,Y
6,R3SORMPJZO3F2J,3,2,2,N,Y

In [7]:
vine_yes_total = vine_df['review_id'].count()
vine_yes_5star = vine_yes[(vine_yes['star_rating'] == 5.0)].count()['star_rating']
vine_yes_5star_perc = (vine_yes_5star / vine_yes_total) * 100

vine_yes_df = pd.DataFrame(
    [{"5 Star Ratings - Vine": vine_yes_5star,
     "Total Ratings - Vine": vine_yes_total,
     "Percentage 5 Star Ratings - Vine": vine_yes_5star_perc}])
vine_yes_df["Percentage 5 Star Ratings - Vine"] = vine_yes_df["Percentage 5 Star Ratings - Vine"].map("{:.2f}".format)
vine_yes_df

,5 Star Ratings - Vine,Total Ratings - Vine,Percentage 5 Star Ratings - Vine
0,0,6,0.00

In [13]:
vine_no_total = vine_df['review_id'].count()
vine_no_5star = vine_df[(vine_df['star_rating'] == 5.0)].count()['star_rating']
vine_no_5star_perc = (vine_no_5star / vine_no_total) * 100

vine_no_df = pd.DataFrame(
    [{"5 Star Ratings - No Vine": vine_no_5star,
     "Total Ratings - No Vine": vine_no_total,
     "Percentage 5 Star Ratings - No Vine": vine_no_5star_perc}])
vine_no_df["Percentage 5 Star Ratings - No Vine"] = vine_no_df["Percentage 5 Star Ratings - No Vine"].map("{:.2f}".format)
vine_no_df

/var/folders/3l/504jq2gd67s8p45pp4p5lgp80000gn/T/ipykernel_86389/2264584411.py:3: RuntimeWarning: invalid value encountered in long_scalars
  vine_no_5star_perc = (vine_no_5star / vine_no_total) * 100

,5 Star Ratings - No Vine,Total Ratings - No Vine,Percentage 5 Star Ratings - No Vine
0,0,0,nan